<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives:</b>
<ul>
    <li>Some of the popular languages that Data Scientists use</li>
    <li>Some of the commonly used libraries used by Data Scientists</li>
    <li>A few examples of evaluating arithmetic expressions in Python</li>
</ul>

Some of the popular languages that Data Scientists use are:
<ol>
    <li>Python</li>
    <li>R</li>
    <li>Java</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
    <li>Pandas</li>
    <li>Matplotlib</li>
    <li>Tensorflow</li>
</ol>

<table>
    <thead>
        <tr>
            <th>Data Science Tools</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Jupyter Notebook
            </td>
        </tr>
        <tr>
            <td>
                Anaconda
            </td>
        </tr>
        <tr>
            <td>
                RStudio
            </td>
        </tr>
    </tbody>
</table>

<h3><u>Below are a few examples of evaluating arithmetic expressions in Python</u></h3>

In [16]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [20]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

<h2>Author</h2>
Simon Lee